<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
</head>
<body>
    <div class="container">
        <h1>QR  code generator</h1>
        <hr>
        <form action="/scan" method="post" class="form">
            <textarea name="text" id="text" cols="150" rows="10" placehholder="enter url or text"></textarea>
            <button type="submit" class="btn btn-primary">generate qr code</button>
            
        </form>
    </div>
</body>
</html>